# Emacs
*~

# OS X
.DS_Store
._*
.Spotlight-V100
.Trashes

# test
tmp/

#composer
vendor/

# phpstorm
.idea

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
vendor/
###< symfony/framework-bundle ###

###> behat/symfony2-extension ###
###< behat/symfony2-extension ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

translations/
tests/
doc/

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###
